<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="public/WebVideoPlay.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video-TV-Portal</title>
  </head>

  <body>
    <div class="player">
      <video
        id="videoPlayer"
        width="100%"
        height="100%"
        controls
        loop
        muted="muted"
        autoplay
      >
        <source src="/portal01" type="video/mp4" />
      </video>
    </div>
  </body>
</html>
